body {
  margin: 0;
  padding: 0;
  background-color: #FFFFCC;
  color: black; /* Black color for the text */
  font-family: "Times New Roman", Times, serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

header {
  text-align: center;
}

body {
  text-align: left;
}

#clickButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.flex-container {
  display: flex; /* Use flexbox to create a row layout */
}

.sidebar {
  flex: 1; /* Make the sidebar grow to take available space */
  padding-right: 20px; /* Add some spacing between sidebar and main content */
}

.main-content {
  flex: 2; /* Make the main content grow to take more space */
}

.center-header {
  text-align: center; /* Add this style for centering the header */
}

h2 {
  font-size: 20px; /* Adjust the font-size of the h2 header to match "About Me" */
}

#welcomeTitle {
  color: white; /* Set the color of "Party Time" to white */
}